
name: workflow_01
on:
  workflow_dispatch:
 

jobs:
  approvals:
    runs-on: ubuntu-latest
    steps:
      - name: madhav-approvals
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.TOKEN_GITHUB }}
          approvers: madcloudeq
          minimum-approvals: 1
          issue-title: "practice"
          issue-body: "nothing"
          exclude-workflow-initiator-as-approvers: false
          additional-approved-words: ''
          additional-denied-words: ''
          
  build:

    needs: approvals
    runs-on: ubuntu-latest

    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.TOKEN_GITHUB }}
          repository: VikrantChugh/madhav_task2.0
          event-type: my-event
